<table class="table table-bordered" id="downloads">
  <thead>
    <tr>
      <th>File</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="access-row allowed" colspan="2">Access: <%= policy_title(document) %><%= document.after_embargo_status%></td>
    </tr>
    <% document.file_sets.each do |fs| %>
      <% give_mp3 = fs.audio? && !can?(:download_original, FileSet.find(fs.id)) %>
      <tr>
        <td class="col_1">
          <span class="fa <%= icon_class(fs) %>"> </span>
          <%= link_to_file(fs, mp3: give_mp3) %>
        </td>
        <td class="col_2">
          <%= give_mp3 ? "MP3 derivative" : fs["file_format_tesim"].first %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
